body {
    background-color: #80d4ea;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}

.day {
    font-family: courier, monospace;
    color: white;
    font-size: 6rem;
}

.date {
    font-family: courier, monospace;
    color: white;
    font-size: 2rem;
}

.time {
    font-family: courier, monospace;
    color: white;
    font-size: 2rem;
}